

### Step 1. Import the necessary libraries

In [7]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [8]:
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")

### Step 4. Select only the Goal column.

In [9]:
euro12['Goals']

0      4.0
1      4.0
2      4.0
3      5.0
4      3.0
5     10.0
6      5.0
7      6.0
8      2.0
9      2.0
10     6.0
11     1.0
12     5.0
13    12.0
14     5.0
15     2.0
16     NaN
17     NaN
18     NaN
19     NaN
Name: Goals, dtype: float64

### Step 5. How many team participated in the Euro2012?

In [32]:
ln = len(euro12['Team'])
ln

20

### Step 6. What is the number of columns in the dataset?

In [45]:
ln = len(euro12)
ln

20

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [4]:
discipline =pd.DataFrame(euro12 , columns = ['Team' ,'Yellow Cards' , 'Red Cards'])
discipline

                                                 Team  Yellow Cards  Red Cards
0                                             Croatia           9.0        0.0
1                                      Czech Republic           7.0        0.0
2                                             Denmark           4.0        0.0
3                                             England           5.0        0.0
4                                              France           6.0        0.0
5                                             Germany           4.0        0.0
6                                              Greece           9.0        1.0
7                                               Italy          16.0        0.0
8                                         Netherlands           5.0        0.0
9                                              Poland           7.0        1.0
10                                           Portugal          12.0        0.0
11                                Republic of Ireland           6.0        1.0
12                                             Russia           6.0        0.0
13                                              Spain          11.0        0.0
14                                             Sweden           7.0        0.0
15                                            Ukraine           5.0        0.0
16                                                NaN           NaN        NaN
17                                                NaN           NaN        NaN
18                                                NaN           NaN        NaN
19  https://towardsdatascience.com/data-handling-u...           NaN        NaN

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [46]:
data = euro12.sort_values(['Red Cards'])
print(data.head())
data =euro12.sort_values(['Yellow Cards'])
print(data.head())

             Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
0         Croatia    4.0             13.0              12.0            51.90%
1  Czech Republic    4.0             13.0              18.0            41.90%
2         Denmark    4.0             10.0              10.0            50.00%
3         England    5.0             11.0              18.0            50.00%
4          France    3.0             22.0              24.0            37.90%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
0           16.00%                        32.0           0.0            0.0
1           12.90%                        39.0           0.0            0.0
2           20.00%                        27.0           1.0            0.0
3           17.20%                        40.0           0.0            0.0
4            6.50%                        65.0           1.0            0.0

   Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
0                   0.0  ...        13.0                81.30%       41.0
1                   0.0  ...         9.0                60.10%       53.0
2                   0.0  ...        10.0                66.70%       25.0
3                   0.0  ...        22.0                88.10%       43.0
4                   0.0  ...         6.0                54.60%       36.0

  Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
0           62.0       2.0           9.0        0.0      9.0       9.0
1           73.0       8.0           7.0        0.0     11.0      11.0
2           38.0       8.0           4.0        0.0      7.0       7.0
3           45.0       6.0           5.0        0.0     11.0      11.0
4           51.0       5.0           6.0        0.0     11.0      11.0

   Players Used
0          16.0
1          19.0
2          15.0
3          16.0
4          19.0

[5 rows x 35 columns]
           Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
2       Denmark    4.0             10.0              10.0            50.00%
5       Germany   10.0             32.0              32.0            47.80%
3       England    5.0             11.0              18.0            50.00%
8   Netherlands    2.0             12.0              36.0            25.00%
15      Ukraine    2.0              7.0              26.0            21.20%

   % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
2            20.00%                        27.0           1.0            0.0
5            15.60%                        80.0           2.0            1.0
3            17.20%                        40.0           0.0            0.0
8             4.10%                        60.0           2.0            0.0
15            6.00%                        38.0           0.0            0.0

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
2                    0.0  ...        10.0                66.70%       25.0
5                    0.0  ...        10.0                62.60%       63.0
3                    0.0  ...        22.0                88.10%       43.0
8                    0.0  ...        12.0                70.60%       35.0
15                   0.0  ...        13.0                76.50%       48.0

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
2            38.0       8.0           4.0        0.0      7.0       7.0
5            49.0      12.0           4.0        0.0     15.0      15.0
3            45.0       6.0           5.0        0.0     11.0      11.0
8            30.0       3.0           5.0        0.0      7.0       7.0
15           31.0       4.0           5.0        0.0      9.0       9.0

    Players Used
2           15.0
5           17.0
3           16.0
8           15.0
15          18.0

[5 rows x 35 columns]

### Step 9. Calculate the mean Yellow Cards given per Team

In [47]:
euro12['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [48]:
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10.0,32.0,32.0,47.80%,15.60%,80.0,2.0,1.0,0.0,...,10.0,62.60%,63.0,49.0,12.0,4.0,0.0,15.0,15.0,17.0
13,Spain,12.0,42.0,33.0,55.90%,16.00%,100.0,0.0,1.0,0.0,...,15.0,93.80%,102.0,83.0,19.0,11.0,0.0,17.0,17.0,18.0

### Step 11. Select the teams that start with G

In [49]:
search= 'G'
euro12['Team'].str.startswith(search)

0     False
1     False
2     False
3     False
4     False
5      True
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16      NaN
17      NaN
18      NaN
19    False
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [50]:
euro12.iloc[0:5 ,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4.0,13.0,12.0,51.90%,16.00%,32.0
1,Czech Republic,4.0,13.0,18.0,41.90%,12.90%,39.0
2,Denmark,4.0,10.0,10.0,50.00%,20.00%,27.0
3,England,5.0,11.0,18.0,50.00%,17.20%,40.0
4,France,3.0,22.0,24.0,37.90%,6.50%,65.0

### Step 13. Select all columns except the last 3.

In [51]:
euro12.iloc[0:5 , 32:35]

   Subs on  Subs off  Players Used
0      9.0       9.0          16.0
1     11.0      11.0          19.0
2      7.0       7.0          15.0
3     11.0      11.0          16.0
4     11.0      11.0          19.0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [52]:
data= pd.DataFrame( euro12, columns=['Shooting Accuracy'] ,index=[3 ,7 ,12] )
data

   Shooting Accuracy
3             50.00%
7             43.00%
12            22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**

In [18]:
data =pd.DataFrame(euro12 ,columns=['Performance'])
data[euro12['Goals'] <= 2]

    Performance
8           NaN
9           NaN
11          NaN
15          NaN